/*.content {
	background-image: url("/alec-weir-26819-unsplash.jpg");
	background-size: cover;
}*/

html, body, #root, .react-wrapper {
	width: 100%;
	height: 100%;
}

/*Size*/
html { font-size: 1em; }
h1 { font-size: 2.074em; }
h2 { font-size: 1.728em; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em; }
small { font-size: 0.833em; }
@media screen and (min-width: 1400px) {
  html { font-size: 1.2em; }
}
@media screen and (min-width: 1900px) {
  html { font-size: 1.5em; }
}
@media screen and (min-width: 2560px) {
  html { font-size: 1.7em; }
}

/*Font Family*/
h1 {
    font-family: 'Oswald', sans-serif !important; font-weight: 700; text-transform: uppercase;
    }
h2 {
    font-family: 'Oswald', serif !important;
    }
h3,h4 {
	font-family: 'Oswald', serif !important;
}
p {
    font-family: 'Work Sans', serif !important;
    }
small {
	font-family: 'Work Sans', serif !important;
}

html {
  background-image: url("../imgs/alec-weir-26819-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}
body {
	background-color: transparent !important;
}

.content-enter {
  opacity: 0.01;
  transform: translateX(100%);  
}
.content-enter-active {
  transform: translateX(0%);    
  opacity: 1;
  transition: all 300ms ease-out;
}
.content-exit {
  transform: translateX(0%);    
  opacity: 1;
}
.content-exit-active {
  transform: translateX(-100%);    
  opacity: 0.01;
  transition: all 300ms ease-out;
}